**/obj/**
**/bin/**

*.DotSettings
*.user
*.DotSettings.user

**/.idea/**
**/.vscode/**

*.dat
*.bridge
*.swsurf

**/gnuplot-dat/**
**/PNGs/**
**/LDG_computations/**

# TikZ & PGF
*.dpth
*.md5
*.auxlock

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

*.tmp


## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
PolygonLibrary/inspectcode.xml
*.plt
